



.display-flex{
    display: flex;
}


/* nav area */

/* main > section{
  max-width: 1300px;
} */


.bg-color{
    background-color: rgb(17, 17, 17);
    width: 1280px;
    /* height: 10000px; */
   
}

.navber{
    justify-content: space-between;
    
   
    

}

.ftns{
    color: #E6533C;
    margin-left: 100px;
}

.nav-item{
 list-style: none;
}

.nav-link{
    text-decoration: none;
   margin-right: 50px;
    color:white;
}



.h-color{
    background-color: #E6533C;
    padding: 3px 10px;
    border-radius: 8px;
    color:white;
}

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    align-items: center;
    margin-left: 900px;
}


.h1-titel{
    color: aliceblue;
    font-size: 4rem;
    margin-left: 100px;
}

.p-titel{
    color: white;
    margin-left: 50px;
    margin-top: 600px;
    position: absolute;
    
}

.pic{
    margin-left: 900px;
    
}


 .btn-1{
    background-color: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
   
}

.btn-2{
    background-color:rgb(17, 17, 17);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid white;

    
}

.btn{
    margin-top: 100px;
    margin-left: 100px;
    
    
}

.v-t{
    background-color: rgba(48, 48, 48, 0.54);
    width: 150px;
    border-radius: 10px;
    margin-top: -120px;
    margin-left: -50px;
    height: 80px;
    
}


.h1-v{
    color: white;
    text-align: center;
    align-items: center;
}
 .p-1{
    color: white;
    text-align: center;
    margin-top: -10px;
 }

 .ball-1{
    background-color: #E6533C;
    height: 30px;
    width: 30px;
    margin-top: -60px;
    margin-right:55px;
    border-radius: 15px;

 }

 .number{
    background-color: rgba(48, 48, 48, 0.54);
    width: 150px;
    height: 80px;
    margin-left: 230px;
    border-radius: 10px;
    position: absolute;
    margin-top: -300px;
    
    
    
 }

 .nmbr-1, .p-1{
    text-align: center;
    margin-top: -3px;
 }






 /* section area */


 .titel-des{
    text-align: center;
   
 }


 .cng-container{
        margin-top: 30px;
        margin-left: 250px;
        
 }
 .titel{
    font-size: 35px;
    color: rgb(129, 42, 42);
 }


 .description{
    color:rgba(255, 255, 255, 0.5) ;
 }
 .img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px;
 }
        .img-r{
            border-radius: 50%;
        }

 .titel-1 {
    margin-left: 20px;
    color: aliceblue;    
 }
 
 .titel-2{
    margin-left: 45px;
    color: aliceblue;
 }

 .titel-3{
    margin-left: 45px;
    color: aliceblue;
 }

 .titel-4{
    margin-left: 45px;
    color: aliceblue;
 }

 .p{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
 }
      
 /* section area 1 */
        .run-ctn{
            margin-left: 250px;
            background-color: rgb(34, 34, 34);
            border-radius: 10px;
            justify-content: space-between;
          
            
            
        }
  .container-1{
    gap: 100px;
    align-items: center;
    margin-top: 30px;
   

  }
 .extra-1{
    color: aliceblue;
    font-size: 40px;
    
    margin-left: 20px;
 }
  .des-p{
    margin-top: 10px;
     position: absolute;
     margin-left: 20px;
     color: gray;
  }
 .img1{
    width: 350px;
    margin-top: 30px;
    border-radius: 15px;
    
    
 }

 .i{
   margin-right: 20px;
 }


 .btn1{
    background-color: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 20px;
    margin-top: 80px;
    
   
  
 }

  .bars{
    color: aliceblue;
    margin-right: 10px;
    display: none;
    
    

  } 


  /* section area 2 */

  .bmi-container{
     margin: 0 auto;
     background-color: rgb(34, 34, 34);
     margin-top: 50px;
     width: 1680px;
     
     
    

  }

  .bmi{
    gap: 250px;
   margin-left: 250px;
  }

  .bmi-titel{
    color: white;
    font-size: 1.75rem;
  }

  .table-1 ,tr ,td ,th{
    border: 1px solid gray;
    border-collapse:collapse ;
    padding: 10px 50px;
    text-align: center;
    
  }
  .table-1 ,td{
    color: gray;
    font-size: 20px;
  }

  .th-color{
    color: white;
  }


  .bmi-des{
    color: gray;
  }


  .height{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
   
  }

  .weight{
    padding: 15px 20px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .gender{
    display: block;
    margin-left: 220px;
    margin-top: -38px;
    padding: 10px 70px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: gray;
  }

  .activity{
    padding: 10px 135px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: gray;
  }

  .btn3{
    display: block;
    margin-top: 10px;
    background-color: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
  }

  .age{
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
  /* .redus{
    border-radius: 10px;
    border: none;
  } */


  /* Section area 3 */



    .team-container{
      margin-left: 300px;
    }

    .team-des {
      text-align: center;
    }

    .meet-h1{
      color: white;
      font-size: 2.50rem;
    }

    .p-des{
      color: gray;
    }

    .c .pic-container  {
      display: grid;
    grid-template-columns: repeat(3, 2fr); */
  }



  .c{
    background-color: rgba(255, 255, 255, 0.1);
    width: 1000px;
     height: 480px;
    margin: 0 auto;
    border-radius: 10px;
   
  }

  .c .pic-container .pic-box{
    
  }

  .img1{
    width: 300px;
    height: 200px;
    
    
    
  }


  .pic-h1{
    margin-top: -100px;
    color: white;
    margin-left: 10px;
  }

  .pic-p{
    color: gray;
    margin-left: 10px;
    margin-top: -20px;
  }

  .pic-box{
    width: 180px;
    margin-left: 15px;
    
  }
  
  .img-grid{
    /* display: grid;
    grid-template-columns: repeat(3, 2fr); */
  }
  .img1{
    /* width: 300px; */
    /* display: grid; */
   
  }

  /* last section */


  .l-s{
    background-color: rgba(255, 255, 255, 0.1);
    width: 1680px;
    height: 480px;
    margin-top: 50px;
    
   
  }

  .last-container{
    gap: 100px;
   margin-left: 250px;
   
    
    
  }

  .h-titel{
    color: rgb(230, 83, 60);
    font-size: 50px;
  }

  .p-prgrp, .h-4{
    color: gray;
    font-size: 20px;
  }

  .h-titel2{
    color: white;
    font-size: 40px;
    margin-right: 80px;
  }

  /* footer */

  .footer{
    background-color: rgba(255, 255, 255, 0.1) ;
    margin-top: -22px;
    width: 1680px;
    
  }

  .f-h1{
    margin-left: 700px;
    color: gray;
    
  }

   

  /* Responsive area */
@media screen and (max-width: 576px) {
     .nav-links, .navber, .ctn,{
        flex-direction: column;
    }

    .ftns{
      margin-left: 20px;
    }

    .nav-links{
         display: none;
         
    }

    .d-t{
      flex-direction: column;
    }

    .bars{
        
     display: block;
     font-size: 30px;
     margin-top: 20px;
     margin-right: 120px;
        
    }

    .h1-titel{
      margin-left: 20px;
    }

    .p-titel{
        margin-left:20px;
        margin-top: 400px;
    }

    .btn{
        margin-top: -680px;
        
    }

    .pic{
        margin-top: 130px;
        margin-left: 100px;
        
       
        
    }

    .cng-container{
        /* margin-top: 500px; */
       
    }
    .img{
        grid-template-columns: repeat(1, 4fr);
        /* margin-top: 500px; */
        
          margin-left: -50px;
         

    }
    
    .titel-des{
        /* margin-top: 500px; */
         /* margin-right: 490px; */
         margin-top: 800px;
         margin-left: -200px;
         
        
    }

    .p{
    
    }
    .container-1{
        /* flex-direction: column; */
       /* text-align: center; */
    } 

     .run-ctn{
        flex-direction: column;
         max-width: 400px;
        margin-left: 50px;
        
        

     }

      .btn{
         margin-left: 20px;
      }

     .btn1{
         margin-top: 150px;
         margin-left: 40%;
    
        
         
     }


      .des-p{
     /* margin-left: 200px; */
     margin-left: 10px;
     margin-top: 20px;
     } 
     .i{
        margin: 0 auto;
     }

     .bmi-container, .bmi{
        flex-direction: column;
        
     }


     .bmi-container{
      max-width: px;
      border-radius: 10px;
      max-width: 500px;
     }

     .bmi{
     margin-left: 20px;
      
     }
       body{
         max-width: 500px;
      }

      /* .c, .team-des, .team-container{
        flex-direction: column;
      } */

       /* .pic-box{
        grid-template-columns: repeat(6, 1fr);
      } */
        .c{
          height: 1320px;
          width: 330px;
          
         
        }


        .team-container{
          margin: 0 auto;
        }
       .c .pic-container{
        grid-template-columns: repeat(1,  6fr);
        gap: 15px;
       
      
        
      }


      .l-s{
        height: 1200px;
        max-width: 500px;
      }

       .last-container{
        flex-direction: column;
        margin-left: 20px;
      }
      .footer{
      max-width: 500px;
      }
      .f-h1{
        margin-left: 50px;
      }
}


 