



.display-flex{
    display: flex;
}


/* nav area */


.bg-color{
    background-color: rgb(17, 17, 17);
    width: 1280px;
    height: 10000px;
   
}

.navber{
    justify-content: space-between;
    
   
    

}

.ftns{
    color: #E6533C;
    margin-left: 100px;
}

.nav-item{
 list-style: none;
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
    color:white;
}

.h-color{
    background-color: #E6533C;
    padding: 3px 10px;
    border-radius: 8px;
    color:white;
}

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    align-items: center;
    margin-right: 100px;
}


.h1-titel{
    color: aliceblue;
    font-size: 4rem;
    margin-left: 100px;
}

.p-titel{
    color: white;
    margin-left: -350px;
    margin-top: 300px;
    
}

.pic{
    margin-left: 350px;
    
}


 .btn-1{
    background-color: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
   
}

.btn-2{
    background-color:rgb(17, 17, 17);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid white;

    
}

.btn{
    margin-top: -200px;
    margin-left: 100px;
    
    
}

.v-t{
    background-color: rgba(48, 48, 48, 0.54);
    width: 150px;
    border-radius: 10px;
    margin-top: -120px;
    margin-left: -50px;
    height: 80px;
    
}


.h1-v{
    color: white;
    text-align: center;
    align-items: center;
}
 .p-1{
    color: white;
    text-align: center;
    margin-top: -10px;
 }

 .ball-1{
    background-color: #E6533C;
    height: 30px;
    width: 30px;
    margin-top: -60px;
    margin-right:55px;
    border-radius: 15px;

 }

 .number{
    background-color: rgba(48, 48, 48, 0.54);
    width: 150px;
    height: 80px;
    margin-left: 230px;
    border-radius: 10px;
    position: absolute;
    margin-top: -300px;
    
    
    
 }

 .nmbr-1, .p-1{
    text-align: center;
    margin-top: -3px;
 }






 /* section area */


 .titel-des{
    text-align: center;
 }


 .cng-container{
        margin-top: 300px;
        
 }
 .titel{
    font-size: 35px;
    color: rgb(129, 42, 42);
 }


 .description{
    color:rgba(255, 255, 255, 0.5) ;
 }
 .img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px;
 }
        .img-r{
            border-radius: 50%;
        }

 .titel-1 {
    margin-left: 20px;
    color: aliceblue;    
 }
 
 .titel-2{
    margin-left: 45px;
    color: aliceblue;
 }

 .titel-3{
    margin-left: 45px;
    color: aliceblue;
 }

 .titel-4{
    margin-left: 45px;
    color: aliceblue;
 }

 .p{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
 }
      
 /* section area 1 */
        .run-ctn{
            margin-left: 200px;
            background-color: rgb(34, 34, 34);
            margin-right: 150px;
            border-radius: 10px;
            
        }
  .container-1{
    gap: 100px;
    align-items: center;
   

  }
 .extra-1{
    color: aliceblue;
    font-size: 40px;
    margin-top: -80px;
    margin-left: 20px;
 }
  .des-p{
    margin-top: 100px;
     position: absolute;
     margin-left: 20px;
     color: gray;
  }
 .img1{
    width: 350px;
    margin-top: 30px;
    border-radius: 15px;
    
    
 }


 .btn1{
    background-color: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 20px;
   margin-bottom: 30px;
  
 }
@media screen and (max-width: 576px) {
    .nav-links, .navber, .ctn,{
        flex-direction: column;
    }
    .p-titel{
        margin-left:px;
        margin-top: 350px;
    }

    .btn{
        margin-top: -280px;
        
    }

    .pic{
        margin-top: 150px;
        margin-left: 10px;
        
        
    }

    .cng-container{
        margin-top: 500px;
    }
    .img{
        grid-template-columns: repeat(1, 4fr);
        /* margin-top: 500px; */
        
         margin-left: 280px;

    }
    
    .titel-des{
        /* margin-top: 500px; */
        margin-right: 500px;
    }

    .p{
    
    }
    .container-1{
        /* flex-direction: column; */
       
    } 

     .run-ctn{
        
     }
}


 